[Unit]
Description=Portal service (Hyprland implementation)
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.hyprland
ExecStart=/nix/store/r32fkirfqx2p1ajk7i58cz6y3ynra955-xdg-desktop-portal-hyprland-1.3.1/libexec/xdg-desktop-portal-hyprland
Restart=on-failure
Slice=session.slice
