
* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    //font-weight: bold;
}

#outer-box {
    border-radius: 2;
    border-color: #88C0D0;
}

#window {
    background-color: #2e3440;
    color: #ffffff;
    min-height: 0;
}

#input {
    background-color: #2e3440;
    color: #ffffff;
}

#entry:selected {
    background-color: #88C0D0;
}
