layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane cwd="$HOME"
  }
  swap_floating_layout {
    floating_panes max_panes=5 {
      pane { x "5%"; y "10%"; width "90%"; height "80%"; }
      pane { x "5%"; y "12%"; width "90%"; height "80%"; }
      pane { x "5%"; y "14%"; width "90%"; height "80%"; }
      pane { x "5%"; y "16%"; width "90%"; height "80%"; }
      pane { x "5%"; y "18%"; width "90%"; height "80%"; }
    }
  }
  tab name="1# LOCAL"
  tab name="2# LOGALTY" cwd="$HOME/Code/Logalty"
  tab name="3# KUBERNETES" cwd="$HOME/Code/Logalty/config/kubernetes"
  tab name="4# TERRAFORM" cwd="$HOME/Code/Logalty/config/terraform"
}
