layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane cwd="$HOME"
  }
  swap_floating_layout {
    floating_panes max_panes=4 {
      pane { x "2%";  y "8%";  width "90%"; height "85%"; }
      pane { x "4%";  y "10%";  width "90%"; height "85%"; }
      pane { x "6%";  y "12%";  width "90%"; height "85%"; }
      pane { x "8%";  y "14%";  width "90%"; height "85%"; }
    }
  }
  tab name="MAIN"
}
