// config.kdl

theme_dir ".config/zellij/themes"
layout_dir ".config/zellij/layouts"

theme "dracula"
default_layout "main"
default_mode "normal"
pane_frames false
auto_layout true

ui {
  pane_frames {
    rounded_corners true
  }
}

keybinds clear-defaults=true {
  shared {
    bind "Alt q" { Quit; }
    //bind "Esc" { Detach; }
  }
  normal {
    bind "Ctrl b" { }

    bind "Alt n" { NewTab; }
    bind "Alt v" { NewPane "Down"; }
    bind "Alt h" { NewPane "Right"; }
    bind "Alt g" { ToggleFocusFullscreen; }
    bind "Alt t" { ToggleFloatingPanes; }
    bind "Alt u" { CloseFocus; }

    bind "Alt j" "Alt a" { MoveFocus "Left"; }
    bind "Alt ñ" "Alt f" { MoveFocus "Right"; }
    bind "Alt k" "Alt s" { MoveFocus "Down"; }
    bind "Alt l" "Alt d" { MoveFocus "Up"; }

    bind "Alt J" "Alt Left"  { Resize "Increase Left"; }
    bind "Alt K" "Alt Down"  { Resize "Increase Down"; }
    bind "Alt L" "Alt Up"    { Resize "Increase Up"; }
    bind "Alt Ñ" "Alt Right" { Resize "Increase Right"; }

    bind "Alt ," { SwitchToMode "RenameTab"; TabNameInput 0; }
    
    //bind "Alt s" { GoToPreviousTab; }
    //bind "Alt d" { GoToNextTab; }

    bind "Alt 1" { GoToTab  1; }
    bind "Alt 2" { GoToTab  2; }
    bind "Alt 3" { GoToTab  3; }
    bind "Alt 4" { GoToTab  4; }
    bind "Alt 5" { GoToTab  5; }
    bind "Alt 6" { GoToTab  6; }
    bind "Alt 7" { GoToTab  7; }
    bind "Alt 8" { GoToTab  8; }
    bind "Alt 9" { GoToTab  9; }
    bind "Alt 0" { GoToTab 10; }
  }
  renametab {
    bind "Enter" { SwitchToMode "normal"; }
    bind "Esc" "Ctrl c" { UndoRenameTab; SwitchToMode "normal"; }
  }
}

plugins {
  tab-bar { path "tab-bar"; }
  status-bar { path "status-bar"; }
  strider { path "strider"; }
  compact-bar { path "compact-bar"; }
  session-manager { path "session-manager"; }
}
