// config.kdl

theme_dir ".config/zellij/themes"
layout_dir ".config/zellij/layouts"

theme "dracula"
default_layout "main"
default_mode "normal"
pane_frames false
auto_layout true
copy_on_select true
mouse_mode false

ui {
  pane_frames {
    rounded_corners true
  }
}

keybinds clear-defaults=true {
  shared {
    bind "Alt q" { Quit; }
    //bind "Esc" { Detach; }
  }
  normal {
    bind "Alt o" { SwitchToMode "Scroll"; }

    bind "Alt n" { NewTab; }
    bind "Alt v" { NewPane "Down"; }
    bind "Alt h" { NewPane "Right"; }
    bind "Alt f" { ToggleFocusFullscreen; }
    bind "Alt t" "Alt m" { ToggleFloatingPanes; }
    bind "Alt ," { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "Alt u" { CloseFocus; }

    bind "Ctrl j" { MoveFocus "Left"; }
    //bind "Alt j" "Ctrl j" { MoveFocus "Left"; }
    bind "Alt k" "Ctrl k" { MoveFocus "Down"; }
    bind "Alt l" "Ctrl l" { MoveFocus "Up"; }
    bind "Alt ñ" "Ctrl ñ" "F6" { MoveFocus "Right"; }

    bind "Alt J" "Alt Left"  { Resize "Increase Left"; }
    bind "Alt K" "Alt Down"  { Resize "Increase Down"; }
    bind "Alt L" "Alt Up"    { Resize "Increase Up"; }
    bind "Alt Ñ" "Alt Right" { Resize "Increase Right"; }

    //bind "Alt s" { GoToPreviousTab; }
    //bind "Alt d" { GoToNextTab; }

    bind "Alt 1" { GoToTab  1; }
    bind "Alt 2" { GoToTab  2; }
    bind "Alt 3" { GoToTab  3; }
    bind "Alt 4" { GoToTab  4; }
    bind "Alt 5" { GoToTab  5; }
    bind "Alt 6" { GoToTab  6; }
    bind "Alt 7" { GoToTab  7; }
    bind "Alt 8" { GoToTab  8; }
    bind "Alt 9" { GoToTab  9; }
    bind "Alt 0" { GoToTab 10; }
  }
  renametab {
    bind "Enter" { SwitchToMode "normal"; }
    bind "Esc" "Ctrl c" { UndoRenameTab; SwitchToMode "normal"; }
  }
  scroll {
    bind "Enter" "Esc" "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
    bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }

    bind "k" "Down" { ScrollDown; }
    bind "l" "Up" { ScrollUp; }
    bind "Ctrl f" "PageDown" "Right" "ñ" { PageScrollDown; }
    bind "Ctrl b" "PageUp" "Left" "j" { PageScrollUp; }
  }
  search {
    bind "Esc" "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
  }
}

plugins {
  tab-bar { path "tab-bar"; }
  status-bar { path "status-bar"; }
  strider { path "strider"; }
  compact-bar { path "compact-bar"; }
  session-manager { path "session-manager"; }
}
