* {
    BG:    #0d1117ff;
    BGA:   #1c2333ff;
    FG:    #cdd6f4ff;
    FGA:   #00ff99ff;
    BDR:   #33ccffcc;
    SEL:   #33ccff28;
    UGT:   #ff6b6bff;
    IMG:   #33ccffff;
    OFF:   #595969ff;
    ON:    #00ff99ff;
}
