## GITIGNORE ##
config/fish/conf.d/00_fig_pre.fish
config/fish/conf.d/99_fig_post.fish
config/systemd/user/default.target.wants
config/nvim/plugin
config/k9s/clusters
config/containers/auth.json
config/containers/containers.conf
config/containers/podman-connections.json
config/containers/podman-connections.json.lock
config/containers/podman/
resources/

# Files
.zcompdump*
.nvimlog
*.zsh.zwc
*.bak
*.zip
*.tar
*.tar.gz
*.swp
# Exception: versioned cursor theme tarballs (installed via system-install-cursors)
!local/share/cursors/*.tar.gz

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
