## GITIGNORE ##
config/systemd/user/default.target.wants
config/nvim/plugin
config/k9s/clusters

# Files
.zcompdump*
.nvimlog
*.zsh.zwc
*.bak
*.zip
*.tar
*.tar.gz

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
