layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane cwd="$HOME"
  }
  swap_floating_layout {
    floating_panes max_panes=1 {
      pane {
        x "5%"
        y "10%"
        width "90%"
        height "80%"
      }
    }
  }
  tab name="1# LOCAL"
}
