configuration {
    modi: "run,drun,window";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: "   Window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;

    kb-row-left: "Alt+j";
    kb-row-right: "Alt+ntilde";
    kb-row-up: "Up,Alt+l";
    kb-row-down: "Down,Alt+k";
}

@theme "catppuccin-mocha"

