[Desktop Entry]
Name=Archlinux
GenericName=Archlinux
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Alacritty
Type=Application
Exec=alacritty --config-file /home/mlr/.config/alacritty/toolbox-archlinux.yml
Icon=org.gnome.Terminal
Terminal=false
Categories=System;TerminalEmulator;
